.contact-center-btn {
  position: fixed;
  bottom: 26px;
  left: 50%;
  transform: translateX(-50%);
  background: #0f172a;
  color: #ffffff;
  padding: 14px 40px;
  border-radius: 30px;
  border: none;
  font-size: 0.95rem;
  cursor: pointer;
  z-index: 1000;
  box-shadow: 0 12px 32px rgba(0,0,0,0.3);
}

.contact-overlay {
  position: fixed;
  inset: 0;
  background: rgba(15, 23, 42, 0.75);
  backdrop-filter: blur(5px);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.contact-box {
  background: #ffffff;
  width: 100%;
  max-width: 520px;
  padding: 42px;
  border-radius: 18px;
  animation: fadeIn 0.35s ease;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.96);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.contact-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contact-header h2 {
  font-size: 1.8rem;
  color: #0f172a;
}

.contact-header span {
  font-size: 1.4rem;
  cursor: pointer;
    color: black;
    margin-bottom: 10px;
}

.contact-desc {
  margin-top: 12px;
  font-size: 0.95rem;
  color: #555555;
}

.contact-actions {
  margin: 26px 0;
  display: flex;
  justify-content: center;
}

.whatsapp-btn {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 14px 26px;
  background: #25d366;
  color: #ffffff;
  border-radius: 12px;
  text-decoration: none;
  font-size: 0.95rem;
  font-weight: 500;
}

.whatsapp-btn svg {
  font-size: 1.2rem;
}


.contact-actions a:nth-child(1) {
  background: #25d366;
}

.contact-actions a:nth-child(2) {
  background: #020617;
}

.contact-actions a:nth-child(3) {
  background: #334155;
}

.contact-actions img {
  width: 18px;
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.contact-form input,
.contact-form textarea {
  padding: 14px;
  border-radius: 10px;
  border: 1px solid #dddddd;
  font-size: 0.95rem;
}

.contact-form textarea {
  resize: none;
  height: 90px;
}

.contact-form button {
  margin-top: 6px;
  padding: 14px;
  background: #0f172a;
  color: #ffffff;
  border: none;
  border-radius: 10px;
  font-size: 0.95rem;
  cursor: pointer;
}
